.category-header {
  font-family: fantasy;
  background: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224), rgb(0, 0, 70));
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 17px 0px;
}

.category-header span {
  font-size: 33px;
}

.productForm {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.productImg {
  width: 100px;
  height: 100px;
  ;
}